Package: com.greeny.nomotion
Name: NoMotion
Depends: mobilesubstrate, firmware (>=7.0)
Architecture: iphoneos-arm
Description: Remove the parallax effect, everywhere.
Maintainer: GreenyDev <greenydev@greenmail.net.au>
Author: GreenyDev <greenydev@greenmail.net.au>
Depiction: http://greenydev.github.io/repo/nomotion/index.html
Section: Tweaks
Version: 1.1beta--28
Installed-Size: 152
