Package: com.greeny.nomotion
Name: NoMotion
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Thomas Greenwood
Author: Thomas Greenwood
Section: Tweaks
Version: 0.0.1-4
Installed-Size: 72
