Package: com.greeny.nomotion
Name: NoMotion
Depends: mobilesubstrate
Version: 1.1beta-
Architecture: iphoneos-arm
Description: Remove the parallax effect, everywhere.
Maintainer: GreenyDev
Author: GreenyDev
Depiction: http://greenydev.github.io/repo/nomotion/index.html
Section: Tweaks
