Package: com.greeny.nomotion
Name: NoMotion
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: GreenyDev
Author: GreenyDev
Section: Tweaks
